<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p class="text-center">The purpose of the website is, We can learn technical things from anywhere.
    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4><br>

        <div><img src="../../assets/gs.jpg" class="rounded-circle" width="100">
        </div>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>